<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog Website</title>
    <link rel="stylesheet" href="catalogStyles.css">
</head>

<body>
    <header>
        <div class="container">
            <form action="catalog" method="post">
                <h1>Catalog Website</h1>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </form>
        </div>
    </header>
     <main>
        <div class="container">
            <h2>Catalog</h2>
            <div class="product-list">
                <% products.forEach(product => { %>
                <section class="product">
                    <form action="/cart" method="post">
                        <img src="<%= product.imagePath %>" alt="<%= product.name %>">
                        <div class="product-details">
                            <h2><%= product.name %></h2>
                            <p><%= product.description %></p>
                            <p>Price: $<%= product.price %></p>
                            <input type="hidden" name="productId" value="<%= product.productId %>">
                            <button type="submit">Add to Cart</button>
                        </div>
                    </form>
                </section>
                <% }); %>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Catalog Website. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>